unity/*.csproj
unity/*.sln
unity/obj
unity/Library
unity/Temp
libproj/
**/*.FBX*
unity/Assets/Table*
**/.vscode
**/.vs
**/*.pyc
neural/input/
neural/output/
neural/models/
neural/venv/
neural/.idea/
neural/dat/
neural/faceparsing/res/
neural/faceparsing/data/
export/
*.DS_Store
*Animation.meta
