unity/*.csproj
unity/*.sln
unity/obj
unity/Library
unity/Temp
unity/models
libproj/
**/*.FBX*
unity/Assets/Table*
**/.vscode
**/.vs
**/*.pyc
**/log.txt
neural/input/
neural/output/
neural/models/
neural/test/
neural/venv/
neural/.idea/
neural/dat/
neural/logs/
neural/runs/
neural/faceparsing/res/
neural/faceparsing/data/
export/**/*jpg
export/**/*jpeg
export/**/*png
export/**/db_description
*.DS_Store
*Animation.meta
